<footer>
        <a href="">Contact us</a> &nbsp &nbsp
        <a href="/"> Home </a> &nbsp &nbsp
        <a href="/room/roomPage"> Room Lists </a> &nbsp &nbsp
        <p>Copyright © 2019 <a herf="">pchen65@myseneca.ca</a>&nbsp &nbsp &nbsp &nbsp<a href="">Privacy Policy</a></p>
</footer>