<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Airbnb</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <header>
      <h1>Make Yourself Home</h1>
        <nav>
            <a href="/"> Home </a> &nbsp &nbsp
            <a href="/room"> Room Lists </a> &nbsp &nbsp
            <a href="/registration"> Sign Up</a> &nbsp &nbsp
            <a href="">Contact us</a> &nbsp; &nbsp
            <a href="/login">Log in</a> &nbsp
        </nav>
        
   </header>
   
   
 
    <section id="main">
      {{{body}}}
    </section>
  
    <footer>
        <a href="">Contact us</a> &nbsp &nbsp
        <a href="/"> Home </a> &nbsp &nbsp
        <a href="/room"> Room Lists </a> &nbsp &nbsp
        <p>Copyright © 2019 <a herf="">pchen65@myseneca.ca</a>&nbsp &nbsp &nbsp &nbsp<a href="">Privacy Policy</a></p>
    </footer>
</body>
</html>