
<div id="signup-div">
    
    <form method="POST" action="/registration" id="signup-form">
    <h2>Sign Up</h2>

        <p class="signup-p">Sign up with <a href="" class="sociallink">Facebook</a> OR <a href="" class="sociallink">Google</a></p>

        <input type="email" name="email" placeholder="Email Address"><br><br>

        <input type="text" name="fname" placeholder="First Name"><br><br>

        <input type="text" name="lname" placeholder="Last Name"><br><br>

        <input type="text" name="password" placeholder="Create password"><br><br>

        <h3>Birthday</h3>
            <p class="signup-p">To sign up, you need to be at least 18. Other people who use Airbnb won’t see your birthday.</p>

        <input type="date" name="birthday"><br><br>
            <p class="signup-p">We’ll send you marketing promotions, special offers, inspiration, and policy updates via email.</p>
        <input type="submit" name="signup-but" value="Sign Up" id="signupbut">

    </form>
</div>