<h2 class="roomh2">Room Lists</h2>

<section>
    <div class="pics-container">
        <div>
            <img src="img/toronto1.jpg">
            <h3>Parking | Netflix | Fast Wifi | Gym | Laundry</h3>
            <p>$142 per night</p>
        </div>
        <div>
            <img src="img/toronto2.jpg">
            <h3>Stylish 1BR Executive Suite - Perfect Location</h3>
            <p>$152 per night</p>
        </div>
        <div>
            <img src="img/vancouver.jpg">
            <h3>When Bookish Meets Contemporary ❤️ DT Water View</h3>
            <p>$172 per night</p>
        </div>
    </div>
    <div class="pics-container">
        <div>
            <img src="img/banff.jpg">
            <h3>Beaujolais Boutique B&B at Thea's House</h3>
            <p>$385 per night</p>
        </div>
        <div>
            <img src="img/montreal1.jpg">
            <h3>Sunny Old Port/Downtown Loft</h3>
            <p>$232 per night</p>
        </div>
        <div>
            <img src="img/montreal2.jpg">
            <h3>Waterfront Treehouse Loft in Montreal’s Old Port!</h3>
            <p>$341 pernight</p>
        </div>
    </div>
</section>