
<div id="login-div">

    {{#each login}}

    <div class="errors">{{this}}</div>
    {{/each}}
    
    <form method="POST" action="/User/login" id="login-form">
    <h2>Log In</h2>

         <p class="login-p">Log in with <a href="" class="sociallink">Facebook</a> OR <a href="" class="sociallink">Google</a></p><br>

        <input type="email" name="email" placeholder="Email"><br><br>

        <input type="password" name="password" placeholder="password"><br><br>
        <p>Password must be 6 to 12 characters and letters and numbers only</p>

        <input type="submit" name="log-but" value="Log In" id="loginbut">

    </form>
</div>