
{{#each registration}}
    <div class="errors">{{this}}</div>
{{/each}}
<div id="signup-div">
    <div id="signup-form">
    <h2>Sign Up</h2>
    <form method="POST" action="/user/registration"  enctype="multipart/form-data">
        <p class="signup-p">Sign up with <a href="" class="sociallink">Facebook</a> OR <a href="" class="sociallink">Google</a></p>
        <label>Email</label>
        <input type="email" name="email" placeholder="Email Address"><br><br>
        <label>First Name</label>
        <input type="text" name="fname" placeholder="First Name"><br><br>
        <label>Last Name</label>
        <input type="text" name="lname" placeholder="Last Name"><br><br>
        <label>Password</label>
        <input type="password" name="password" placeholder="Create password"><br>
        <p>Password must be 6 to 12 characters and letters and numbers only</p>

        <label>Confirm Password</label>
        <input type="password" name="cpassword" id="cpassword"> <br><br>
        
        <h3>Birthday</h3>
            <p class="signup-p">To sign up, you need to be at least 18. Other people who use Airbnb won’t see your birthday.</p>

        <input type="date" name="birthday"><br><br>
            <p class="signup-p">We’ll send you marketing promotions, special offers, inspiration, and policy updates via email.</p>
        <input type="submit" name="signup-but" value="Sign Up" id="signupbut">

        
        </form>
    </div>
</div>