<div class="homemain">
    <div class="searchform">
        <h2 class="homeh2">Book a Room</h2>

        <form method="POST" action="/home" id="form">
            <label>WHERE</label>
            <select>
            <option value="toronto" name="toronto">Toronto</option>
            <option value="vancouver" name="vancouver">Vancouver</option>
            <option value="banff" name="banff">Banff</option>
            <option value="montreal" name="montreal">Montreal</option>
            </select><br><br>
    
            <label>CHECH-IN</label>
            <input type="date" name="checkin"><br><br>
    
            <label>CHECK-OUT</label>
            <input type="date" name="checkout"><br><br>

            <label>GUEST</label>
            <input type="text" name="guests" placeholder="No. Guests"><br><br>

            <input type="submit" id="searchbut" name="submit" value="Search">
        </form>
    </div>
</div>

<div id="promotionpic">
    <img id="promo-pic" src="img/promotion.jpg">
    <p id="promo-p">Invite a friend join the Airbnb to get 15% off for the first time you book a room, and more promotion by click <a herf="">here</a></p>
</div>